@{
    ViewData["Title"] = "Location";
}

<div class="container location-section">
    <div class="row">
        <div class="col-sm-8">
            <h3>DO-NUT-VILLE</h3>
            <hr />
            <a href="https://goo.gl/maps/W8QbfgvVUi9HNLck9" class="location_text">
                <img class="logo_img" src="~/images/logos/LocationLogo.png" alt="Location logo">
                &nbsp;&nbsp;&nbsp;2202 E. Broadway Pearland, Texas 77581
            </a>
            <br />
            <br />
            <img class="logo_img" src="~/images/logos/PhoneLogo.png" alt="Phone logo">
            &nbsp;&nbsp;&nbsp;281.485.3844
            &nbsp;&nbsp;&nbsp;
            <img class="logo_img" src="~/images/logos/EmailLogo.png" alt="Email logo">
            <a href="mailto:BhatM8403@uhcl.edu" class="location_text">&nbsp;&nbsp;&nbsp;Email</a>
            <br />
            <br />
            <a href="https://www.facebook.com/UHClearLake/" class="location_text"><img class="logo_img" src="~/images/logos/FacebookLogo.png" alt="Facebook logo"></a>&nbsp
            &nbsp;&nbsp;&nbsp;
            <a href="https://twitter.com/UHClearLake/" class="location_text"><img class="logo_img" src="~/images/logos/TwitterLogo.png" alt="Twitter logo"></a>&nbsp
            &nbsp;&nbsp;&nbsp;
            <a href="https://www.instagram.com/uhclearlake/" class="location_text"><img class="logo_img" src="~/images/logos/InstagramLogo.png" alt="Instagram logo"></a>&nbsp
            &nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/school/university-of-houston-clear-lake/" class="location_text"><img class="logo_img" src="~/images/logos/LinkedinLogo.png" alt="Linkedin logo"></a>&nbsp
            &nbsp;&nbsp;&nbsp;
            <a href="https://www.youtube.com/user/uhclearlake" class="location_text"><img class="logo_img" src="~/images/logos/YoutubeLogo.png" alt="Youtube logo"></a>
            <br />
            <br />
            <br />
            <h6>Open Hours</h6>
            <hr />
            <div>Sunday &nbsp; - &nbsp; Thursday&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;11 am - 9:15 pm</div>
            <div>Friday &nbsp; & &nbsp; Saturday&nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;11 am - 10:15 pm</div>
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="~/images/DonutLocationn.jpg" alt="Donut Shop" />
        </div>
    </div>
</div>

<iframe class="map_img" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d443465.057810706!2d-95.60793754181296!3d29.73219045602607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640ce26c9098079%3A0x8e6ebdf6398c913e!2sThe%20Egg%20%26%20I%20Restaurants!5e0!3m2!1sen!2sus!4v1568160584899!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

@section Scripts
{
    <link href="~/css/LocationStyleSheet.css" rel="stylesheet" />
}

