@{
    ViewData["Title"] = "Menu";
}

<div class="Menu-top">
    <img src="~/images/MenuTop.jpg" />
</div>

<div class="menu-section">
    <div class="row">
        <div class="col-sm-8">
            <h5 class="menu-heading">DONUT VARIETIES</h5>
            <hr />
            <div class="menu_name">GLAZED</div>
            <div class="menu_desc">Original, Chocolate Iced, Apple Fritter, Cinnamon Bun, Glazed Cruller, Maple Iced, Strawberry Iced.</div>
            <p></p>
            <div class="menu_name">ICED</div>
            <div class="menu_desc">Original Filled Kreme, Oreo Cookies & Kreme, Cake Batter, Double Dark Chocolate, New York Cheesecake.</div>
            <p></p>
            <div class="menu_name">FILLED</div>
            <div class="menu_desc">Glazed Raspberry, Lemon, Kreme Filling, Cinnamon Apple, Dulce De Leche, Powdered Blueberry, Chocolate.</div>
            <p></p>
            <div class="menu_name">CAKE</div>
            <div class="menu_desc">Pumpkin Spice, Glazed Sour Cream, Traditional, Powdered Cinnamon Cake, Doughnut Holes, Chocolate Cake.</div>
            <p></p>
            <div class="menu_name">CHOCOLATE</div>
            <div class="menu_desc">Chocolate Filled, Chocolate Iced, Mini Chocolate Iced, Glazed, Chocolate with Sprinkles, Raspberry Filled.</div>
            <p></p>
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="~/images/MenuDonuts.jpg" alt="Donuts Menu" />
        </div>
    </div>
</div>

<div class="menu-section" style="background-color:#FDEBDF">
    <div class="row">
        <div class="col-sm-4">
            <img class="d-block w-100" src="~/images/MenuCoffee.jpg" alt="Coffee Menu" />
        </div>
        <div class="col-sm-8">
            <h5 class="menu-heading">COFFEE & DRINKS</h5>
            <hr />
            <div class="menu_name">HOT</div>
            <div class="menu_desc">Coffee, Americano, Latte, Macchiato, Tea, Hot Chocolate, Vanilla Chai, Cappuccino, Espresso.</div>
            <p></p>
            <div class="menu_name">ICED</div>
            <div class="menu_desc">Cold Brew, Iced Coffee, Iced Latte, Iced Machhiato, Iced Tea, Caramel Latte, Iced Mocha.</div>
            <p></p>
            <div class="menu_name">FROZEN</div>
            <div class="menu_desc">Pumpkin Spice Latte, Vanilla Latte, Caramel Latte, Coolatta, Lemonade Chiller, Strawberry Chiller.</div>
            <p></p>
            <div class="menu_name">TEA</div>
            <div class="menu_desc">Black Tea, Green Tea, Chamomile herbal, Hibiscus tea, Cool Mint Herbal, Indian Chai Tea.</div>
            <p></p>
            <div class="menu_name">CHOCOLATE</div>
            <div class="menu_desc">Mocha Latte, Iced Caramel Latte, Iced Mocha, Chocolate Iced Coffee, Frozen Mocha, Hot Coffee.</div>
            <p></p>
        </div>
    </div>
</div>

<div class="menu-section">
    <div class="row">
        <div class="col-sm-8">
            <h5 class="menu-heading">SANDWICHES & WRAPS</h5>
            <hr />
            <div class="menu_name">SAUSAGE EGG & CHEESE</div>
            <div class="menu_desc">A tasty sandwich stacked with egg, American cheese and irresistible sausage.</div>
            <p></p>
            <div class="menu_name">BACON EGG & CHEESE</div>
            <div class="menu_desc">The perfect portion of crispy Cherrywood Smoked bacon, egg & American cheese.</div>
            <p></p>
            <div class="menu_name">TURKEY SAUSAGE</div>
            <div class="menu_desc">A perfect portion of Turkey Sausage, Egg, and American cheese.</div>
            <p></p>
            <div class="menu_name">VEGGIE EGG WHITE</div>
            <div class="menu_desc">A delicious egg white omelet, with diced red and green bell pepper, mushrooms, and green onions, topped with a slice of American cheese, and served on your choice of bread.</div>
            <p></p>
            <div class="menu_name">HASH BROWNS</div>
            <div class="menu_desc">Our hash browns are lightly seasoned and golden brown for maximum goodness.</div>
            <p></p>
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="~/images/MenuSandwich.jpg" alt="Sandwich Menu" />
        </div>
    </div>
</div>

<div class="menu-section" style="background-color:#FDEBDF">
    <div class="row">
        <div class="col-sm-4">
            <img class="d-block w-100" src="~/images/MenuMuffin.jpg" alt="Muffin Menu" />
        </div>
        <div class="col-sm-8">
            <h5 class="menu-heading">BAKERY & SNACKS</h5>
            <hr />
            <div class="menu_name">BAGELS & CREAM CHEESE SPREAD</div>
            <div class="menu_desc">A delicious bagel with your favorite cream cheese spread. Enjoy with your favorite morning coffee!</div>
            <p></p>
            <div class="menu_name">MUFFINS</div>
            <div class="menu_desc">Enjoy a delicious muffin with your favorite coffee.</div>
            <p></p>
            <div class="menu_name">OATMEAL</div>
            <div class="menu_desc">Start your morning right with our hearty Multigrain Oatmeal, topped with dried fruit.</div>
            <p></p>
            <div class="menu_name">CLASSIC BAKERY</div>
            <div class="menu_desc">Enjoy a classic bakery item with your favorite beverage.</div>
            <p></p>
            <div class="menu_name">MULTIGRAIN BAGEL</div>
            <div class="menu_desc">Our delicious Multigrain Bagels are a good source of fiber, with 7 grams of total fat per serving, served toasted.</div>
            <p></p>
        </div>
    </div>
</div>

@section Scripts {
    <link href="~/css/MenuStyleSheet.css" rel="stylesheet" />
}

