@model EmailModel
@{
    ViewData["Title"] = "ThankYou";
}

    <div class="container" style="padding:50px">
        <h1>Thank You for subscribing to Do-Nut-Ville!</h1>
        <p>Your email address <b>@ViewBag.EmailAddress</b> has been registered successfully..</p>
    </div>

